{
  "1234567890": {
    "logins": {
      "23-01-2025 15:35:49": "Joe",
      "19-05-2025 14:43:01": "Joe"
    },
    "film_requests": {
      "19-05-2025 14:43:25": "The Man Who Knew Infinity"
    },
    "serie_requests": {
      "23-01-2025 15:36:21": "30 Rock"
    }
  }
}
